name: 全民开红包

on:
workflow_dispatch:
schedule:
- cron: "5 17 * * *"
watch:
types: [started]

jobs:
build:
runs-on: ubuntu-latest
if: github.event.repository.owner.id == github.event.sender.id
steps:
- name: Checkout codes
uses: actions/checkout@v2
- name: Use Node.js
uses: actions/setup-node@v1
with:
node-version: "12.x"
- name: npm install
run: |
npm install
- name: "运行【京东全民开红包】"
run: |
node onlyOneExecute.js
env:
JD_COOKIE: ${{ secrets.JD_COOKIE }}
PUSH_KEY: ${{ secrets.PUSH_KEY }}
BARK_PUSH: ${{ secrets.BARK_PUSH }}
BARK_SOUND: ${{ secrets.BARK_SOUND }}
TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
TG_USER_ID: ${{ secrets.TG_USER_ID }}
SYNCURL: https://raw.githubusercontent.com/lxk0301/scripts/master/jd_redPacket.js